.root {
  background: #fab2ff;
  background: -moz-linear-gradient(45deg, #fab2ff 0%, #1904e5 100%);
  background: -webkit-linear-gradient(45deg, #fab2ff 0%, #1904e5 100%);
  background: linear-gradient(45deg, #fab2ff 0%, #1904e5 100%);
}
.nav-bar {
  background: #c86dd7;
  background: -moz-linear-gradient(-125deg, #c86dd7 0%, #3023ae 100%);
  background: -webkit-linear-gradient(-125deg, #c86dd7 0%, #3023ae 100%);
  background: linear-gradient(-125deg, #c86dd7 0%, #3023ae 100%);
  height: 40px;
  border-radius: 10px;
  color: white;
}
.nav-bar img {
  float: left;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0px;
}
.nav-bar ul li {
  margin: 10px;
}
.nav-bar li a {
  text-decoration: none;
  color: #552b20;
  color: white;
}
.grid-container {
  text-align: center;
}
.grid-item {
  background: #c86dd7;
  background: -moz-linear-gradient(-125deg, #c86dd7 0%, #3023ae 100%);
  background: -webkit-linear-gradient(-125deg, #c86dd7 0%, #3023ae 100%);
  background: linear-gradient(-125deg, #c86dd7 0%, #3023ae 100%);
  display: inline-flex;
  height: 17em;
  margin: 18px;
  width: 20rem;
  justify-content: center;
  box-shadow: 15px 5px 15px 0px rgb(1 10 10);
  color: white;
}
.logo img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50px;
}
.content img {
  height: 10em;
  width: 10em;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}
.checked {
  color: orange;
}
.unchecked {
  color: white;
}
/*=====================Experience styles=========================*/

.experience-container {
  text-align: center;
  justify-content: center;
  color: white;
}
.experience-item {
  background: #380152;
  background: -moz-linear-gradient(180deg, #380152 0%, #9903e3 100%);
  background: -webkit-linear-gradient(180deg, #380152 0%, #9903e3 100%);
  background: linear-gradient(180deg, #380152 0%, #9903e3 100%);

  height: 17em;
  margin: 30px;
  color: white;

  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  justify-content: center;
  box-shadow: 15px 5px 15px 0px rgb(1 1 5);
}

/*=====================Experience styles=========================*/
.info-container {
  text-align: center;
  justify-content: center;
}
.info-item {
  background: #380152;
  background: -moz-linear-gradient(180deg, #380152 0%, #9903e3 100%);
  background: -webkit-linear-gradient(180deg, #380152 0%, #9903e3 100%);
  background: linear-gradient(180deg, #380152 0%, #9903e3 100%);

  height: 17em;
  margin: 30px;
  color: white;
  border-radius: 18px;
  justify-content: center;
  box-shadow: 15px 5px 15px 0px rgb(1 10 10);
}

/*=====================Projects styles=========================*/

.project-description {
  padding: 15px;
}
.project-details {
  display: flex;
}
.company-info {
  justify-content: center;
}
.project-item {
  background: #852d91;
  background: -moz-linear-gradient(to right, #852d91 0%, #312a6c 99%);
  background: -webkit-linear-gradient(to right, #852d91 0%, #312a6c 99%);
  background: linear-gradient(to right, #852d91 0%, #312a6c 99%);

  height: 17em;
  margin: 30px;

  border-radius: 18px;
  box-shadow: 15px 5px 15px 0px rgb(1 10 10);
}

.s-icon {
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  margin: 18px;
}
.footer a {
  font-size: 2em;
}
